/*Tumisho Matsiu u25085892*/
@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=DynaPuff:wght@400..700&display=swap');

*
{
    padding: 0;
    margin: 0;
}
body
{
  background-color: #5E548E;
  color: white;
  font-family: "Cause", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;  

}
a
{
  text-decoration: none;
  color: white;  
}
nav
{
    background-color: #100C31;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
h1,h2
{
    text-align: center;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;      
}
h2
{
    margin-bottom: 20px;
}
h1
{
    margin: 20px 0 20px 0;
}

